<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GFUEL</title>
    <link rel="stylesheet" href="/CSS/app.css">
</head>
<body>
    <%- include('./partials/nav') %> <!-- add nav bar -->
    <h1>Best Seller</h1>
    <h1>Products</h1>
        <ul>
            <% products.forEach(product => { %>
                <li>
                    <strong><%= product.flavor %>: <%= product.price %></strong>
                    <ul>Description: <%= product.description %></ul>
                    <ul>Rating: <%= product.rating %>/5 stars</ul>
                </li>
            <% }) %>
        </ul>
    
</body>
</html>