<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.flavor %></title>
    <link rel="stylesheet" href="/CSS/app.css">
    <link rel="stylesheet" href="/CSS/product_card.css">
</head>
<body>
    <%- include('./partials/nav') %> <!-- add nav bar WOO -->

    <div class="product_details_container">

        <div class="product_details_description">
            <h3><span class="label_indicator">flavor</span> <%= product.flavor %></h3>
            <h3><span class="label_indicator">rating</span> <%= product.rating %></h3>
            <h3><span class="label_indicator">description</span> <%= product.description %></h3>
        </div>

        <div>
            <img src="<%= product.imageUrl %>" alt="">
        </div>

    </div>


    <br><br><br>
    <%- include('./partials/footer') %>
</body>
</html>