<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Staff</title>
    <link rel="stylesheet" href="/CSS/app.css">
    <link rel="stylesheet" href="/CSS/card.css">
</head>
<body>
    <%- include('./partials/nav') %> <!-- add nav bar WOO -->

    <br><br>
    <h1>Meet Our Team!</h1>


    <ul>
        <% for( const [title, people] of Object.entries(groupedStaff)) { %>
        <br><br>
        <h2><%= people.length > 1 ? `${title}s` : `${title}` %></h2>
        <!-- jobTitle, email, phoneNumber, bio -->
        <% people.forEach((person, index) => { %>
            <a href="/staff/<%= person.jobTitle %>/<%= index %>" target="_blank">
                <li>
                    
                        <img class="avatar_image" src="<%= person.image %>" />
                        <h1><%=person.name %> </h1>
                </li>
            </a>
        <% }) %>
    <% }%>  
    </ul>

    <br><br><br>
    <%- include('./partials/footer') %>
</body>
</html>